* {
    padding: 0;
    margin: 0;
}

body {
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    color: black;
}

.digit {
    font-size: 200px;
    margin: 20px;
}

.txt {
    font-size: 60px;
}

#btn-container {
    text-align: center;
    margin-top: 40px;
}

.btn {
    height: 50px;
    width: 180px;
    border-radius: 5px;
    border: none;
    margin: 20px;
    padding: 5px;
    text-align: center;
    align-items: center;
    font-size: 25px;
}

#start {
    background-color: greenyellow;
}

#stop {
    background-color: rgb(255, 85, 0);
}

#reset {
    background-color: cornflowerblue;
}